<h1>{{message}}</h1>
<ul class="student-list">
    <a href="/students/addnew/">Add new</a>
    {{#each students}}
    <ul class="student-container">
        <li><img class="profile-picture" src=/images/uploads/{{ this.student_image_path}}
                alt="profile-pic-of-{{this.student_name}}"></li>
        <li>{{ this.student_id}}</li>
        <li>{{ this.student_name}}</li>
        <li>{{ this.student_age}}</li>
        <li>{{ this.student_grade}}</li>
        <a href="/students/details/{{this.student_id}}">Details</a>
        <a href="/students/edit/{{this.student_id}}">Edit</a>
        <a href="/students/delete/{{this.student_id}}">Delete</a>
    </ul>
    {{/each}}
</ul>