<img class="profile-picture" src=/images/uploads/{{ student.student_image_path}}
        alt="profile-pic-of-{{student.student_name}}">
<p>Id : {{ student.student_id}}</p>
<p>Name : {{ student.student_name}}</p>
<p>Age : {{ student.student_age}}</p>
<p>Grade : {{ student.student_grade}}</p>
<a href="/students/getall/">Go to student list</a>